<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
  
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <title>Product List</title>
</head>
<body>
    <div>
        <table class="center" id="removetable" width="80%">
            <thead>
                <tr>
                    <th>Product</th>
                    <th class="description-column">Description</th>
                    <th>Category</th>
                    <th class="imagecell">Image</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{this.id}}</td>
                    <td class="description-column">{{this.description}}</td>
                    <td>{{this.category}}</td>
                    <td class="imagecell"><img src="/newimages/{{this._id}}.jpg" alt="Product Image"></td>
                    <td>Rs.{{this.price}}</td>
                    <td><a href="/admin/remove/{{this._id}}"><button class="delbtn"  onclick="return confirm('Do you want to delete product {{this.id}}??')">DELETE</button></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script>
$(function()
{
    $("#removetable").DataTable();

})
</script>
<style>
div.dt-container .dt-search input {
    border: 1px solid #aaa;
    border-radius: 40px;
    padding: 10px;
    background-color: transparent;
    color: inherit;
    margin-left: 3px;
    width: 49%;
    margin-right: 63px;
}
</style>
</body>
</html>
